# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Data (often large)
DatasetSatyam/
DatasetSatyam_Precomputed/
input_images/
inference_output/

# Model Checkpoints (Using Git LFS)
# *.pth 

# IDEs
.vscode/
.idea/
